@import "variables";
/* contenedor pantalla principal*/
.container-fluid{
    padding: 0px;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: 
    "header"
    "main"
    "footer";

    header{
        grid-area: header;
        background-image:$header;
        width: 100%;
    }
    main{
        grid-area: main;
        background-image: $body;
        width: auto;
    }
    footer{
        grid-area: footer;
        width: 100%;
        background-image: $footer;
    }
}    
/* Contenedor pages nosotros*/
.container2-fluid{
    padding: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-auto-flow: row;
    grid-template-areas:
    "subtitulos subtitulos"
    "info1 fotos1"
    "fotos2 info2"; 

    .subtitulos{
        grid-area: subtitulos;
        width: 100%;
    }
    .info1{
        grid-area: info1;
        width: 100%;
    }
    .fotos1{
        grid-area: fotos1;
        width: 100%;
    }
    .info2{
        grid-area: info2;
        width: 100%;
    }
    .fotos2{
        grid-area: fotos2;
        width: 100%;
    }
}   

/*Contenedor carrousel de trabajos*/
.containerG-fluid{
    height: 100%;
    width: 100%;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr;
    gap: 10px;
    grid-template-areas:
    "carro1 carro2 carro3"; 

    .carro1 { 
        grid-area: carro1;
        width: 100%;
    }
    .carro2 { 
        grid-area: carro2; 
        width: 100%;
    }
    .carro3 { 
        grid-area: carro3;
         width: 100%;
    }
}

.containertra-fluid{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto ;
    grid-gap: 0px 0px;
    grid-template-areas: 
    "titu titu titu"
    "izqui centr dere";
}
.titu{
    grid-area: titu;
    width: 100;
}
.izqui{
    grid-area: izqui;
    width: 100%;
}
.centr{
    grid-area: centr;
    width: 100%;
}
.dere{
    grid-area: dere;
    width: 100%;
}