@import "variables";

body{
    main{
        h4{
            display: flex;
            justify-content:center;
            color: $subtitulos;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            font-style:oblique;
            text-decoration: underline;
        } 
        .conte-fluid{
            margin: 10px;
            padding: 10px;
            height: auto;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
            grid-template-areas:
            "part2 part1";
            
            .part1{
                grid-area: part1;
                width: 100%;
                height: 100%;
                padding: 5px;
                background-image: $body;
                border: $titulos 3px solid;
                border-radius: 10px;
                justify-content: center;
                align-items: center;
                .btn{
                    background-color: $titulos;
                    border: $subtitulos 3px solid;
                }
            }
            .part2{
                grid-area: part2;
                width: 100%;
                height: 100%;

                img{
                    border-radius: 5%;
                }
            }

        }
    }
}