@import "variables";
*{
    box-sizing: border-box;
}
body{
    main{
        
        
        .izqui{
            display: flex;
            flex-direction: column;
            align-items: center;
            .caja1{
                padding: 10px;
                align-self: center;
            }
            .caja2{
                padding: 10px;
                align-self: start;
            }
            .caja3{
                padding: 10px;
                align-self:end;
            }
        }
        .centr{
            display: flex;
            flex-direction: column;
            align-items: center;
            .carousel{
                position: sticky;
                top: 0px;
            }
        }
        .dere{
            display: flex;
            flex-direction: column;
            align-items: center;
            .caja4{
                padding: 10px;
                align-self: center;
            }
            .caja5{
                padding: 10px;
                align-self: start;
            }
            .caja6{
                padding: 15px;
                align-self:end;
            }
        }
    }
}