@import "variables";
body{
    main{
        
        .cajas{
            background-image: $body;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            div{
                margin: 20px;
                width: 300px;
                height: 350px;
                background-image:$mat;
                border: $titulos 2px solid;
                border-radius: 20px; 
                display: flex;
                flex-direction: column;
                align-items: center;
                img{
                    margin: 10px;
                    width: 150px;
                }
                p{
                    margin: 10px;
                    color: $text;
                    overflow: auto;
                    &::-webkit-scrollbar{
                        width: 5px;
                        background-color:rgb(233, 186, 147);
                    }
                    &::-webkit-scrollbar-thumb{
                        background-color: $titulos;
                    }
                }
            }

        }
    }
}