@media screen and (max-width: 780px) {
    /*index*/
    .containerG-fluid{
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        grid-template-rows: auto;
        grid-template-areas: 
        "carro1 carro2"
        "carro3 none";
    }
    .carousel-inner{
        width: 350px;
    }

    /*fin de index*/
    /*nuestros trabajos*/
    .containertra-fluid{
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
        "titu titu"
        "izqui centr"
        "dere centr";
        
     }
     /*Fin de nuestros trabajos*/
     /*Conocenos*/
     .container2-fluid{
        width:100%;
        height: 100%;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "subtitulo subtitulo"
        "info1 info2"
        "fotos1 fotos2";
     }
     /*Fin de conocenos*/
    }

@media screen and (max-width: 425px) {
    /*index*/
    header{
        .menuC{
            display: block;
        }
        .menu{
            display: none;
        }
    }
    .containerG-fluid{
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "carro1"
        "carro2"
        "carro3";
    }
    .carousel-inner{
        width: 250px;
        margin: 20px;
    }
    /*fin de index*/
    /*Nuestros trabajos*/
     .containertra-fluid{
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
        "titu"
        "izqui"
        "dere"
        "centr";

     }
    /*Fin de nuestros trabajos*/
    /*Conocenos*/
    .container2-fluid{
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "subtitulo"
        "info1" 
        "fotos2"
        "info2" 
        "fotos1";
     }
     /*Fin de conocenos*/
     /*Clientes
     .conte-fluid{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "part2" 
        "part1";
     }
     Fin de clientes*/
}