@media screen and (max-width: 780px) {
    /*index*/
    .container-fluid{
        main{
            .dere{
                display: none;
            }
    }
}
    .containerG-fluid{
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
        grid-template-rows: auto;
        grid-template-areas: 
        "carro1 carro2"
        "carro3 none";
    }
    .carousel-inner{
        width: 350px;
    }

    /*fin de index*/
    /*nuestros trabajos*/
    .containertra-fluid{
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
        "titu titu"
        "izqui centr"
        "izqui centr";
        
     }
     /*Fin de nuestros trabajos*/
     /*Conocenos*/
     .container2-fluid{
        width:auto;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "subtitulo subtitulo"
        "info1 info1"
        "info2 info2"
        "fotos1 fotos1"
        "fotos2 fotos2";
     }
     /*Fin de conocenos*/
    }

@media screen and (max-width: 425px) {
    /*gnrl*/
    .container-fluid{
        header{
            h1{
                font-size:xx-large;
            }
            .menuC{
                display: block;
            }
            .menu{
                display: none;
            }
        }
        main{
            .dere{
                display: block;
            }
            .izqui{
                display: none;
            }
            .fotos1{
                width: auto;
            }
            .fotos2{
                display: none;
            }
        }
    }
    
    .containerG-fluid{
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "carro1"
        "carro2"
        "carro3";
    }
    .carousel-inner{
        width: 250px;

    }
    /*fin de index*/
    /*Nuestros trabajos*/
     .containertra-fluid{
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
        "titu"
        "centr"
        "dere";

     }
    /*Fin de nuestros trabajos*/
    /*Conocenos*/
    .container2-fluid{
        width: auto;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: 
        "subtitulo"
        "info1" 
        "fotos1"
        "info2";
     }
     /*Fin de conocenos*/
     /*Clientes
     .conte-fluid{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas:
        "part2" 
        "part1";
     }
     Fin de clientes*/
}